body {
  margin: 0px;
  background: #ffffff; }

.footer {
  background: #21232e;
  color: #bbc3ce;
  width: 100%;
  height: 300px;
  font-family: "Hind", sans-serif; }
  .footer .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 140px;
    font-family: "Hind", sans-serif; }
    .footer .footer-wrap .landing-logo {
      display: flex;
      margin-left: 120px;
      padding-top: 20px; }
      .footer .footer-wrap .landing-logo .logo-position, .footer .footer-wrap .landing-logo img {
        margin-right: 20px; }
      .footer .footer-wrap .landing-logo p {
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        font-family: "Hind", sans-serif;
        font-weight: 580;
        font-size: 26px;
        line-height: 1;
        align-items: center; }
        .footer .footer-wrap .landing-logo p span {
          font-weight: 380;
          font-size: 12px; }
    .footer .footer-wrap .footer_text {
      max-width: 395px;
      height: max-content;
      font-size: 18px;
      line-height: 1.5; }
    .footer .footer-wrap .footer-cr {
      margin-right: 120px; }

.header {
  background: url("../img/m-h-day.jpg");
  height: 880px;
  border-radius: 0 0 40em/25em 0;
  background-position: center;
  background-size: auto 127%;
  color: #2c2f3c; }
  .header .landing-logo {
    display: flex;
    margin-left: 120px;
    padding-top: 20px; }
    .header .landing-logo img {
      margin-right: 20px; }
    .header .landing-logo p {
      display: flex;
      flex-direction: column;
      margin: 0px;
      justify-content: center;
      font-family: "Hind", sans-serif;
      font-weight: 580;
      font-size: 26px;
      line-height: 1;
      align-items: center; }
      .header .landing-logo p span {
        font-weight: 380;
        font-size: 12px; }
  .header .header_heading {
    font-size: 85px;
    width: 600px;
    height: 100px;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 70px;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 80px;
    position: relative;
    z-index: 1; }
    .header .header_heading:after {
      content: "";
      display: block;
      width: 357px;
      height: 28px;
      background-color: #14a0c7;
      position: absolute;
      top: 135px;
      z-index: -1; }
  .header .header_text {
    white-space: pre-line;
    margin-left: 120px;
    font-size: 18px;
    font-family: "Hind", sans-serif;
    margin-top: 120px;
    line-height: 1.5; }
  .header .header_button {
    margin-left: 120px;
    background: #699900;
    color: white;
    font-size: 18px;
    width: 155px;
    height: 55px;
    border-radius: 5px;
    border-color: #699900;
    border-image: none;
    border-style: none;
    margin-top: 60px;
    font-weight: bold; }

.section .section_text {
  color: #2c2f3c;
  text-align: center;
  font-weight: 530;
  font-size: 45px;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  z-index: 1; }
  .section .section_text:after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 14px;
    background-color: #14a0c7;
    top: 38px;
    left: 800px;
    z-index: -1; }
.section .section_card_wrap {
  display: flex;
  width: 1360px;
  height: 500px;
  margin: 1px 120px 300px 120px; }
  .section .section_card_wrap .section_card {
    padding: 20px 20px 0 20px;
    background: #21232e;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    margin: 0 10px; }
    .section .section_card_wrap .section_card:last-child .section_card_text {
      padding-top: 20px; }
    .section .section_card_wrap .section_card .section_card_heading {
      color: #ffffff;
      font-size: 25px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      margin-top: 10px;
      position: relative;
      z-index: 1;
      display: inline-block;
      margin-bottom: 10px; }
      .section .section_card_wrap .section_card .section_card_heading:after {
        content: "";
        display: block;
        width: 100%;
        height: 12px;
        background-color: #14a0c7;
        position: absolute;
        bottom: 0px;
        z-index: -1; }
    .section .section_card_wrap .section_card .section_card_img {
      width: 390px;
      height: 270px;
      border-radius: 10px; }
    .section .section_card_wrap .section_card .section_card_text {
      text-align: center;
      color: #bbc3ce;
      font-family: "Hind", sans-serif;
      font-size: 18px;
      line-height: 1.5; }
.section .section_banner {
  width: 1040px;
  height: 185px;
  margin-left: 270px;
  margin-top: -90px;
  background: linear-gradient(to right, #639313, #315fc8);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  position: absolute; }
  .section .section_banner .section_banner_heading {
    color: #2c2f3c;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0px;
    position: relative;
    z-index: 1; }
    .section .section_banner .section_banner_heading::after {
      content: "";
      display: block;
      position: absolute;
      background: #14a0c7;
      width: 82px;
      height: 15px;
      z-index: -1;
      left: 150px;
      top: 27px; }
  .section .section_banner .section_banner_text {
    color: #bbc3ce;
    font-family: "Hind", sans-serif;
    font-size: 18px;
    margin-bottom: 60px; }
  .section .section_banner .section_banner_button {
    background: #699900;
    color: white;
    font-size: 18px;
    width: 155px;
    height: 55px;
    border-radius: 5px;
    border-color: #699900;
    border-image: none;
    border-style: none;
    margin-top: 0px;
    font-weight: bold; }
