@mixin logo {
    display: flex;
    margin-left: 120px;
    padding-top: 20px;
}

body {
    margin: 0px;
    background: $colorBody;
}

.footer {
    background: $footerColor;
    color: map-get($colors, foot);
    width: 100%;
    height: 300px;
    font-family: $styleText1;
    .footer-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 140px;
        font-family: $styleText1;
        .landing-logo {
            @include logo;
            .logo-position {
                margin-right: 20px;
            }
            img {
                @extend .logo-position;
            }
            p {
                display: flex;
                flex-direction: column;
                margin: 0px;
                justify-content: center;
                font-family: $styleText1;
                font-weight: 580;
                font-size: 26px;
                line-height: 1;
                align-items: center;
                span {
                    font-weight: 380;
                    font-size: 12px;
                }
            }
        }
        .footer_text {
            max-width: 395px;
            height: max-content;
            font-size: 18px;
            line-height: 1.5;
        }
        .footer-cr {
            margin-right: 120px;
        }
    }
}

.header {
    background: $contentFoto;
    height: 880px;
    border-radius: 0 0 40em/25em 0;
    background-position: center;
    background-size: auto 127%;
    color: $colorTextHeader;
    .landing-logo {
        @include logo;
        img {
            margin-right: 20px;
        }
        p {
            display: flex;
            flex-direction: column;
            margin: 0px;
            justify-content: center;
            font-family: $styleText1;
            font-weight: 580;
            font-size: 26px;
            line-height: 1;
            align-items: center;
            span {
                font-weight: 380;
                font-size: 12px;
            }
        }
    }
    .header_heading {
        font-size: 85px;
        width: 600px;
        height: 100px;
        font-weight: bold;
        margin-left: 120px;
        margin-top: 70px;
        font-family: $styleText2;
        line-height: 80px;
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            display: block;
            width: 357px;
            height: 28px;
            background-color: $colorUnderTextHeader;
            position: absolute;
            top: 135px;
            z-index: -1;
        }
    }
    .header_text {
        white-space: pre-line;
        margin-left: 120px;
        font-size: 18px;
        font-family: $styleText1;
        margin-top: 120px;
        line-height: 1.5;
    }
    .header_button {
        margin-left: 120px;
        background: $colorButton;
        color: white;
        font-size: 18px;
        width: 155px;
        height: 55px;
        border-radius: 5px;
        border-color: $colorButton;
        border-image: none;
        border-style: none;
        margin-top: 60px;
        font-weight: bold;
    }
}

.section {
    .section_text {
        color: $colorTextHeader;
        text-align: center;
        font-weight: 530;
        font-size: 45px;
        font-family: $styleText2;
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 200px;
            height: 14px;
            background-color: $colorUnderTextHeader;
            top: 38px;
            left: 800px;
            z-index: -1;
        }
    }
    .section_card_wrap {
        display: flex;
        width: 1360px;
        height: 500px;
        margin: 1px 120px 300px 120px;
        .section_card {
            padding: 20px 20px 0 20px;
            background: $footerColor;
            width: 500px;
            height: 500px;
            border-radius: 10px;
            text-align: center;
            margin: 0 10px;
            &:last-child {
                .section_card_text {
                    padding-top: 20px;
                }
            }
            .section_card_heading {
                color: #ffffff;
                font-size: 25px;
                font-family: $styleText2;
                font-weight: bold;
                margin-top: 10px;
                position: relative;
                z-index: 1;
                display: inline-block;
                margin-bottom: 10px;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 12px;
                    background-color: $colorUnderTextHeader;
                    position: absolute;
                    bottom: 0px;
                    z-index: -1
                }
            }
            .section_card_img {
                width: 390px;
                height: 270px;
                border-radius: 10px;
            }
            .section_card_text {
                text-align: center;
                color: $colorTextSection;
                font-family: $styleText1;
                font-size: 18px;
                line-height: 1.5
            }
        }
    }
    .section_banner {
        width: 1040px;
        height: 185px;
        margin-left: 270px;
        margin-top: -90px;
        background: $colorBanner;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        position: absolute;
        .section_banner_heading {
            color: $colorTextHeader;
            font-family: $styleText2;
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 0px;
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                display: block;
                position: absolute;
                background: $colorUnderTextHeader;
                width: 82px;
                height: 15px;
                z-index: -1;
                left: 150px;
                top: 27px;
            }
        }
        .section_banner_text {
            color: $colorTextSection;
            font-family: $styleText1;
            font-size: 18px;
            margin-bottom: 60px;
        }
        .section_banner_button {
            background: $colorButton;
            color: white;
            font-size: 18px;
            width: 155px;
            height: 55px;
            border-radius: 5px;
            border-color: $colorButton;
            border-image: none;
            border-style: none;
            margin-top: 0px;
            font-weight: bold;
        }
    }
}