$contentColor: #ffffff;
$footerColor: #21232e;
$colorTextHeader: #2c2f3c;
$styleText2:'Source Sans Pro',
sans-serif;
$styleText1:'Hind',
sans-serif;
$colorButton:#699900;
$colorTextSection: #bbc3ce;
$contentFoto: url('../img/m-h-day.jpg');
$colorBanner: linear-gradient(to right,
#639313,
#315fc8);
$colorUnderTextHeader: #14a0c7;
$colorBody: #ffffff;
$colors:(foot: #bbc3ce);