$colorTextHeader:#ffffff;
$contentFoto:url('../img/m-h-night.jpg');
$colorUnderTextHeader:#ff4e33;
$colorButton:#e3ac00;
$colorBody: #21232e;
$colorBanner: linear-gradient(to right,
#dca107,
#99374c);
$footerColor: #3b3f50;
$styleText1:'Fresca',
sans-serif;
$styleText2: 'Source Sans Pro',
sans-serif;
$colorTextHeader: #ffffff;
$colorTextSection: #bbc3ce;
$colors:(foot: #bbc3ce);